<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345368420214-gofiehc7sfhlp48c87ao7l6oi56egi70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345368420214-gofiehc7sfhlp48c87ao7l6oi56egi70</string>
	<key>API_KEY</key>
	<string>AIzaSyCYEnxvuDaoiGq8ahrYcye91d_bZqzGG4o</string>
	<key>GCM_SENDER_ID</key>
	<string>345368420214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.jec.weng.heng.UberApp</string>
	<key>PROJECT_ID</key>
	<string>uberapptest-c62cf</string>
	<key>STORAGE_BUCKET</key>
	<string>uberapptest-c62cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345368420214:ios:55657e06336cedc57de457</string>
	<key>DATABASE_URL</key>
	<string>https://uberapptest-c62cf.firebaseio.com</string>
</dict>
</plist>